footer{
    width: 100%;
    height: 33vh;
    background-color: rgba(4, 5, 39, 0.781);
    -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
}